body {
    overflow-x: hidden;
    background-color: #f3fbf7;
}

/*Logout*/
header {
    position: relative;
    top: 0;
    left: 0;
    margin-left: -0.9%;
    margin-top: -0.9%;
    width: 102%;
    height: 100px;
    background-color: #003C43;
}

#logout {
    font-size: 25px;
    color: white;
    text-align: right;
    padding-right: 3%;
    cursor: pointer;
}

/*content*/
/*footer*/

/*Chat messages*/
#upcoming-messages {
    width: 400px;
    height: 540px;
    border: 1px solid #ccc;
    transition: height 0.5s ease-out;
    transform: translateY(0.1%);
}

#upcoming-messages.hidden {
    height: 0;
    padding: 0;
    border: none;
}

#expert-chat {
    position: fixed;
    bottom: 0.25%;
    right: 0%;
}

#expert-chat-head {
    padding-top: 10px;
    color: white;
    background-color: #003C43;
    border: solid rgb(15, 15, 24) 1px;
    margin-bottom: -0.6%;
    text-align: center;
    width: 400px;
    height: 50px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
}

#messages {
    background-color: white;
    height: 0;
    padding: 0;
    border: none;
    display: none;
}

#messages.hidden {
    height: 89%;
    width: 98%;
    padding: 1%;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-all;
    display: block;
}

#text-box {
    display: none;
}

#text-box.hidden {
    display: block;
    position: fixed;
    height: 1%;
    width: 100%;
}

#expert-chat-form {
    display: flex;
    justify-content: end;
    padding: 1%;
    background-color: white;
}


#user-message {
    width: 100%;
    height: 38px;
}

#send-message {
    border-radius: 100px;
    border: none;
    background-color: #003C43;
    cursor: pointer;
    color: white;
    margin-left: 2px;
}

#expert-chat-head {
    cursor: pointer;
    transition: transform 0.5s ease-out;
}

/* width */
#messages::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#messages::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
#messages::-webkit-scrollbar-thumb {
    background: #003C43;
    border-radius: 10px;
}

/* Handle on hover */
#messages::-webkit-scrollbar-thumb:hover {
    background: #003C43;
}